@import "tailwindcss";

/* Add this in your main CSS file */
.glow-text {
  transition: all 0.3s ease-in-out;
}

.glow-text:hover {
  text-shadow: 0 0 8px #52e086, 0 0 16px #22c55e;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 3px #62dd8f, 0 0 6px #5cd889;
  }
  50% {
    text-shadow: 0 0 12px #71e09a, 0 0 24px #69e697;
  }
  100% {
    text-shadow: 0 0 5px #72e79d, 0 0 10px #6ce799;
  }
}

.glow-text:hover {
  animation: glow 1s infinite alternate;
}
